/*// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

img { 
		width: 100%; 
	}

.container {
	max-width:  960px;

	.plan {
	  height: 325px;
	  width: auto;
	}
	img {
		display: none;
	}

	@media all and (min-width: 420px) {
		.plan {
			float: left;
			height: 500px;
			width: 300px /960px * 100%;
			margin: 0;
		}
		.plan.premium {
		  margin: 0 30px /960px * 100%;
		}
		img {
			display: inline;
		}
	}
}	


